# 13. while문
---
* 날짜:
* 이름:

## 개념정리
---

또 다른 반복문인 whlie문은 for문과 동일하게 특정 코드를 반복해서 진행합니다. 그렇지만 for문과 달리 반복문 내에 반복되는 특정 변수가 없으며 필요시 직접 입력해주어야 합니다.

### **(1) 문법**

#### **1. 기본구조**

while문의 기본 구조는 아래와 같습니다.



```
while <조건문>:
  <반복되는 코드>
  ...
```

조건문은 항상 bool 형태, 즉 True 혹은 False임을 유의하세요. while은 조건문이 True인 동안 계속해서 반복됩니다. <조건문> 자리에 a가 5보다 작다는 조건을 입력해봅시다. 반복문이 시작할 때 a가 0이기 때문에 a<5라는 조건은 **True** 가 됩니다. 조건문이 **True**인 동안 a는 1씩 증가하다가 a가 5 이상이 되는 순간 조건문은 **False**가 되며 반복문이 종료됩니다.

```
a=0
while a<5:
  print(a)
  a+=1
```

In [ ]:
a = 0
while a<5: # True인 상태기 때문에 while문이 시작됩니다.
  print(a)
  a+=1
print("end")

0
1
2
3
4
end

In [ ]:
a = 0
while a<5: # True인 상태기 때문에 while문이 시작됩니다.
  a+=1
  print(a)
print("end")

# while문의 스위치가 꺼져도 도중에 끝나지 않고 루프 전체가 완전히 돌아간 후에 끝납니다.

1
2
3
4
5
end

####**2. 무한루프**

이번에는 <조건문> 자리에 직접 **True** 를 입력하겠습니다. 이렇게 되면 반복문의 조건문이 항상 **True인** 상태기 때문에 다른 조건을 코드 아래에 추가해 주지 않으면 무한루프가 됩니다. (아래 코드는 무한 루프이기 때문에 굳이 실행해 보지 않아도 됩니다.)

```
a=0
while True:
  print(a)
  a+=1
```

###**(3) break과 continue**


####**1. break**
 따라서 무한루프의 경우 보통 반복문 내에 종료코드를 넣어줍니다. 따라서 아래 코드 예시와 같이 특정조건이 될 때 종료하는 코드를 작성합니다. 종료는 앞서 배운 **break** 을 이용합니다.

 ```
a=0
while True:
  print(a)
  a+=1
  if a==5:
    break
```

In [ ]:
a = 0
while True:
  print(a)
  a+=1
  if a==5:
    break

0
1
2
3
4

####**2. continue**

만일 특정 조건에서 루프를 끝내지 않고 다음 루프로 넘어가고 싶다면 **continue**를 사용합니다.

 ```
a = 0
while True:
  print(a)
  a+=1
  if a==5: 
    continue
  if a==10:
    break
```

In [ ]:
a = 0
while True:
  print(a)
  a+=1
  if a==5: 
    continue
  if a==10:
    break

0
1
2
3
4
5
6
7
8
9

## 예제
---

####**예제 01**

for문으로 작성한 코드와 똑같은 결과가 나오도록 while문으로 작성하세요

**01-1**



```
for i in range(3, 10):
  print(i)
```

In [4]:
for i in range(3, 10):
  print(i)
print("----------")

i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9
----------
3
4
5
6
7
8
9

**01-2**



```
for i in range(1, 101, 5):
  print(i)
```

In [3]:
for i in range(1, 101, 5):
  print(i)
print("----------")

i=1
while i<101:
  print(i)
  i+=5

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96
----------
1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

**01-3**



```
for i in range(100):
  if i%2==0:
    print(i,"짝수")
  if i==80: break
```

In [8]:
for i in range(100):
  if i%2==0:
    print(i,"짝수")
  if i==80: break
print("----------")

i=0
while i<100:
  if i%2==0:
    print(i,"짝수")
  if i==80: break
  i+=1

0 짝수
2 짝수
4 짝수
6 짝수
8 짝수
10 짝수
12 짝수
14 짝수
16 짝수
18 짝수
20 짝수
22 짝수
24 짝수
26 짝수
28 짝수
30 짝수
32 짝수
34 짝수
36 짝수
38 짝수
40 짝수
42 짝수
44 짝수
46 짝수
48 짝수
50 짝수
52 짝수
54 짝수
56 짝수
58 짝수
60 짝수
62 짝수
64 짝수
66 짝수
68 짝수
70 짝수
72 짝수
74 짝수
76 짝수
78 짝수
80 짝수
----------
0 짝수
2 짝수
4 짝수
6 짝수
8 짝수
10 짝수
12 짝수
14 짝수
16 짝수
18 짝수
20 짝수
22 짝수
24 짝수
26 짝수
28 짝수
30 짝수
32 짝수
34 짝수
36 짝수
38 짝수
40 짝수
42 짝수
44 짝수
46 짝수
48 짝수
50 짝수
52 짝수
54 짝수
56 짝수
58 짝수
60 짝수
62 짝수
64 짝수
66 짝수
68 짝수
70 짝수
72 짝수
74 짝수
76 짝수
78 짝수
80 짝수

####**예제 02**

**02-1**

while 문을 이용해 1에서 100까지 짝수만 출력하세요

In [ ]:
i=1
while i<101:
  if i%2==0:
    print(i)
  i+=1

**02-2**

while 문을 이용해 1에서 100까지 홀수만 더한 값을 구하세요

In [25]:
i, sum_i = 1, 0
while i<101:
  if i%2==1:
    sum_i += i
  i+=1
print(sum_i)

2500

**02-3**

while 문을 이용해 1에서 100까지 4와 3의 공배수들의 평균을 구하세요

In [28]:
i, sum_i, len_i = 1, 0, 0
while i<101:
  if i%4==0 and i%3==0 and i>=4:
    sum_i +=i
    len_i +=1
  i+=1
print(sum_i/len_i)

54.0

####**예제 03**
* while구문을 시작합니다.
* input() 함수로 사용자의 입력을 계속 받습니다.
* 사용자가 "그만" 이라고 입력하면 구문을 종료합니다.

In [30]:
while True:
  in_str = input()
  if in_str=='그만':
    break

그만

####**예제 04**

while문을 이용해 아래 결과를 내는 함수 **bomb()** 를 작성하세요. 음수가 입력될 경우 다른 에러메시지를 출력하세요.


```
>> bomb() 
Enter timer: 6
befor 6 sec.
befor 5 sec.
befor 4 sec.
befor 3 sec.
befor 2 sec.
befor 1 sec.
BOMB!
>> bomb()
Enter timer: -3
TIMER ERROR
```

In [40]:
def bomb():
  in_int = int(input("Enter timer: "))
  
  if in_int<=0:
    print("TIMER ERROR")
  else:  
    while True:
      print("before %i sec."%in_int)
      in_int-=1
      if in_int==0:
        print("BOMB!")
        break
    
bomb()

Enter timer: 4
before 4 sec.
before 3 sec.
before 2 sec.
before 1 sec.
BOMB!

####**예제 05**

연이자율이 8%인 예금통장에 길동이는 올해 1월 1000만원을 예금했습니다. 이 돈이 1500만원을 넘기는 시점은 몇년뒤 인지 while문을 이용해서 구하세요

In [43]:
money = 1000
i=0
while True:
  i+=1
  money+=money*0.08
  if money>1500: break
print(i, money)

6 1586.874322944

####**예제 06**
* while 문을 이용해 1부터 100까지 값을 출력합니다.
* 만약 출력값이 2의 배수면 mul2, 3의 배수면 mul3, 5의 배수면 mul5에 넣으세요 
* mul2, mul3, mul5는 리스트이며 중복가능하게 각 리스트에 숫자를 넣습니다.

In [46]:
i=1
mul2, mul3, mul5 = [], [], []
while i<=100:
  if i%2==0 and i>=2:
    mul2.append(i)
  if i%3==0 and i>=3:
    mul3.append(i)
  if i%5==0 and i>=5:
    mul5.append(i)
  i+=1

print(mul2)
print(mul3)
print(mul5)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

####**예제 07** 

출처: 백준 https://www.acmicpc.net/problem/1110

0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다. 먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다. 그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 함수 **find_cycle()**을 작성하시오.



```
>>find_cycle()
N을 입력하세요(0부터99까지): 26
cycle은 4 입니다.
>>find_cycle()
N을 입력하세요(0부터99까지): 55
cycle은 3 입니다.
>>find_cycle()
N을 입력하세요(0부터99까지): 0
cycle은 1 입니다.
>>find_cycle()
N을 입력하세요(0부터99까지): 1
cycle은 60 입니다.

```

In [90]:
in_str = input()
if len(in_str)==1:
  in_str = '0'+in_str

cycle_str = in_str
cycle = 0
while True:
  cycle+=1

  in_1, in_10 = int(cycle_str[-1]), int(cycle_str[-2])
  in_sum = in_10+in_1  
  if in_sum>=10: in_sum-=10 
  cycle_str+=str(in_sum)
  #print(cycle_str)
  
  if in_str == cycle_str[-2:] or in_str==cycle_str[-1:]:
    print("cycle은 %i 입니다"%cycle)
    break

0
cycle은 1 입니다